.book-item-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.book-item {
    width: 409px;
    height: 108px;
    
    background: #F7ECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin: 3% 0% 3% 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.people-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.toggle {
    width: 5%;
}

.author {
    position: absolute;
    top: 70%;
    right: 15%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
}