#container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 1% 2% 1% 2%;

    background-color: white;
    border: 1.00847px solid #D46767;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
}

#error-message {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 500px;
    height: 70.8px;

    background: #FFFFFF;
    border: 1px solid #000000;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #000000;
}