.App {
  display: flex;
  justify-content: 'center';
  align-items: 'center';
  height: 100vh;
}

#action-btn {
  box-sizing: border-box;

  position: absolute;
  width: 173px;
  height: 47px;
  left: 25px;
  top: 25px;

  background: #F6ECEC;
  border: 1.00847px solid #D46767;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #000000;
}

#action-btn:hover {
  background-color:#61dafb;
}

